.login-container{
        background:white;
        padding:40px;
        border-radius:15px;
        width:100%;
        max-width:400px;
        margin: 50px;
        text-align:center;
    }

    body{
        height:100vh;
        display:flex;
        justify-content:center;
        align-items:center;
     background: antiquewhite;
    }
   .login-container h2{
        margin-bottom:5px;
        font-size: 35px ;
        color:rgb(106, 108, 223);
        border-radius: 50px;
        width: 330px;
        margin: 0 auto;
       background-color: #dae9f6;
        
   }
    .login-container input{
        background-color: rgb(231, 238, 228);
        border-radius:7px ;
        margin: 10px;
        font-size: 20px;
         
    }
    
     .login-container button{
        width:50%;
        padding:12px;
        background: wheat;
        color:rgb(248, 248, 248);
        border-radius:15px;
        font-size:20px;
        cursor:pointer;
    }
     